* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #F9EFDB;
    --secondary-color:#9DBC98;
    --accent1-color:#EBD9B4;
    --accent2-color:#638889;

    --heading-font:  verdana, serif;
    --paragraph-font: verdana, serif;

    --nav-background-color: red;
    --nav-link-color: #F8FAE5;
    --nav-hover-link-color: #B19470;
    --nav-hover-background-color: #76453B;

}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #000;
    padding: 10px;
}

header img {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 15rem;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 40px;
    margin:10px;
    padding-top: 20px;
    text-decoration: none;
    color: green;
}

/* Working the hero */

.general {
    display: grid;
    align-items: center;
}

.hero img {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
}


.hero h1 {
    position: absolute;
    left: 40rem;
    bottom: 400px;
}

.hero article {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    opacity: .8;
    bottom: 200px;
    left: 22.25rem;
    max-width: 809px;
}


.picture {
    display: flex;
    position: relative;
}


.picture img {
    flex-direction: row;
    margin: 5px;
    gap: 2px;
    width: 37em;

}