@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --primary-color: #F9EFDB;
    --secondary-color:#9DBC98;
    --accent1-color:#EBD9B4;
    --accent2-color:#638889;

    --heading-font:  verdana, serif;
    --paragraph-font: verdana, serif;

    --nav-background-color: red;
    --nav-link-color: #F8FAE5;
    --nav-hover-link-color: #B19470;
    --nav-hover-background-color: #76453B;

}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    
}

p{
    padding: 25px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    float: right;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

.hero article img {
   float: right;
   width: 300px;

}
